
<form action="/recipies/edit/<%= @recipie.id %>" method="post">
	<label for="title">:title</label>
	<input type="text" name="title" value=<%= @recipie.title  %>>
	<label for="Ingredients">:Ingredients</label>
	<input type="textarea" name="ingredients" value=<%= @recipie.ingredients  %>>
	<label for="method">Method:</label>
	<textarea name="method" cols="30" rows="10" >
		<%= @recipie.method  %>
	</textarea>
	<input type="hidden" name="user_id" value=<%= cookies[:id]%>>
	<input type="hidden" name="login" value=<%= cookies[:login]%>>
	<input type="submit">
</form> 